:root {
  --face-doll-bg: #e3dac9;
  --face-doll-bg-hover: #b69456;
  --face-doll-txt: #382603;
  --principal-shadow: #382603;
  --secondary-shadow: #b69456;
  --white: #eee;
  --black: #222;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  font-size: 22px;
  color: var(--white);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  max-width: 500px;
  line-height: 33px;
  text-wrap: balance;
  margin-top: 30px;
  grid-row: 1/2;
}

.settings__container {
  width: 100%;
  padding: 10px 30px;
  display: grid;
  place-content: center;
  grid-row: 2/3;
}

.face {
  width: 200px;
  height: 200px;
  border: none;
  display: grid;
  place-items: center;
  position: fixed;
  border-radius: 12px;
  background-color: var(--face-doll-bg);
  box-shadow: 2px 2px 10px 0px var(--principal-shadow),
    inset 0px 0px 5px 5px var(--secondary-shadow);
}
.faceDice1 {
  left: calc(50% - 250px);
  top: calc(50% - 150px);
}

.faceDice2 {
  left: calc(50% + 50px);
  top: calc(50% - 150px);
}

.face:hover {
  scale: 1.01;
}
.initial {
  visibility: visible;
}

.visible {
  visibility: visible;
}

.face p {
  color: var(--face-doll-txt);
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  padding: 18px;
  max-width: 100%;
  text-align: center;
}

.dices__container {
  transform-origin: center;
}

button {
  margin: 0 auto;
  cursor: pointer;
  width: 200px;
  height: 60px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--face-doll-bg);
  color: var(--face-doll-txt);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.1px;
  box-shadow: 2px 2px 10px 0px var(--principal-shadow);
  transition: all 0.2s ease-in-out;
}

.animation1 {
  animation: 0.3s ease-in alternate roll1;
  animation-iteration-count: 1;
}

.animation2 {
  animation: 0.2s ease-in reverse roll2;
  animation-iteration-count: 1;
}

button:hover {
  scale: 1.05;
  background-color: var(--face-doll-bg-hover);
  color: var(--white);
}
label {
  display: flex;
  justify-content: space-between;
}

span {
  padding: 0 12px;
  color: var(--white);
}

@keyframes roll1 {
  0%,
  100% {
    rotate: 0deg;
    scale: 1;
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(-50px);
    transform-style: preserve-3d;
    scale: 1.05;
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateY(50px);
    scale: 0.95;
  }
}

@keyframes roll2 {
  0%,
  100% {
    rotate: 0deg;
    scale: 1;
  }

  8%,
  25%,
  45%,
  70%,
  90% {
    transform: translateY(-60px);
    transform-style: preserve-3d;

    scale: 1.05;
  }

  15%,
  35%,
  60%,
  80% {
    transform: translateY(60px);
    /* transform-origin: center; */

    scale: 0.9;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 16px;
    padding: 0 12px;
    line-height: 24px;
  }

  .face {
    width: 120px;
    height: 120px;
  }

  .face p {
    font-size: 14px;
    line-height: 20px;
    padding: 2px;
  }

  .faceDice1 {
    left: calc(50% - 145px);
    top: calc(50% - 60px);
  }

  .faceDice2 {
    left: calc(50% + 25px);
    top: calc(50% - 60px);
  }

  button {
    bottom: 60px;
    font-size: 14px;
  }
}
